PORT = 3000

DATABASE_URL="postgresql://example"

BASE_URL="http://localhost:3000"

REDIS_URL="rediss://example.upstash.io:6379"
SHORT_URL_CACHE_TTL_SECONDS=3600  # 1 hour
SHORTEN_RATE_LIMIT_TTL_SECONDS=60 # 1 minute
SHORTEN_RATE_LIMIT_MAX_REQUESTS=10 # 10 requests per minute